*{
    font-family: 'Courier New', Courier, monospace;
}
table{
    border: 1px solid #127369;
    padding: 0;
}
td{
    border: 1px solid #127369;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 5rem;
    cursor: pointer;
}
.wholeContainer{
    display: inline-block;
    border: 10px solid #10403b;    
    text-align: center;
    background-color: #8AA6A3;
    color: #ffffff;
}
.btn{
    /* width: 100px;
    height: 40px; */
    padding: 10px 30px;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
    background-color: #127369;
    color: #bfbfbf;
    border: 1px solid;
    border-radius: 10px;
}
.btn:hover{
    background-color: #10403b;
    color: white;
    padding: 10px 35px;
    transition-duration: 100ms;
}
.winComment{
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 15%;
    background-color: wheat;
    border: 1px solid;
    border-radius: 30px;
    box-shadow: 5px 5px 3px rgb(245, 222, 179);
    display: none;
}
@media (max-width: 658px) {
    td{
        /* width: 0.3%; */
        height: 150px;
        
    }
    
}
@media (max-width: 320px) {
    td{
        /* width: 0.3%; */
        height: 100px;
        
    }
    
}